* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 16px 0px 10px;
    background: url('/resources/images/background.jpg') #5f92d2 repeat-x 0% 0%;
    color: #fff;
    font-family: tahoma, arial, sans-serif;
    font-size: 12px;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    color: #bfd8f6;
}

img {
    border: none;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

p {
    margin: 10px 0px 5px;
    text-align: justify;
    line-height: 14px;
}

.clearthis {
    margin : 0px;
    height : 1px;
    clear : both;
    float : none;
    font-size : 1px;
    line-height : 0px;
    overflow : hidden;
}

input {
    padding-left: 2px;
    background-color: #eff3f7;
    border: 2px solid #eff3f7;
    color: #537caf;
    font-family: tahoma, arial, sans-serif;
    font-size: 12px;
}



#container {
    margin: 0px auto;
    width: 768px;
}

.form_exception {
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
    margin-left: 110px;
}

.box_container {
    margin-bottom: 11px;
    border: 1px solid #fff;
    background-color: #537caf;
}

#centerLayer {
    text-align: center;
}