* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 16px 0px 10px;
    background: url('/resources/images/background.jpg') #5f92d2 repeat-x 0% 0%;
    color: #fff;
    font-family: tahoma, arial, sans-serif;
    font-size: 12px;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    color: #bfd8f6;
}

img {
    border: none;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

p {
    margin: 10px 0px 5px;
    text-align: justify;
    line-height: 14px;
}

.clearthis {
    margin: 0px;
    height: 1px;
    clear: both;
    float: none;
    font-size: 1px;
    line-height: 0px;
    overflow: hidden;
}

input,option,select {
    padding-left: 2px;
    background-color: #eff3f7;
    border: 2px solid #eff3f7;
    color: #537caf;
    font-family: tahoma, arial, sans-serif;
    font-size: 12px;
}

select {
    border: 2px solid #1975D2;
}

#container {
    margin: 0px auto;
    width: 768px;
}

/* Page Header */

#header_container {
    margin-bottom: 12px;
    border: 1px solid #fff;
    background: url('/resources/images/header_background.jpg') repeat-x 0px 0px;
}

#page_header {
    width: 766px;
    height: 187px;
    background: url('/resources/images/header_image.jpg') no-repeat 10px 20px;
    overflow: hidden;
}

/* Page Header : Company Name & Logo */

#header_company {
    margin-top: 20px;
    width: 585px;
    height: 35px;
    float: left;
    background: url('/resources/images/company_logo.gif') no-repeat 137px 0px;
    text-align: left;
}

#header_company h1 {
    background: url('/resources/images/company_name.gif') no-repeat 160px 0px;
    width: 585px;
    height: 35px;
}

/* Page Header : Welcome Note */

#header_welcome {
    padding-left: 142px;
    float: left;
    text-align: justify;
}

#header_welcome h3 {
    padding: 3px 0px 0px;
    font-size: 16px;
}

#header_welcome p {
    margin-top: 7px;
}

#header_welcome #welcome_text {
    width: 447px;
}

/* Page Header : Menu */

#header_menu {
    padding-top: 35px;
    padding-right: 29px;
    float: right;
}

#header_menu li {
    margin-bottom: 2px;
    width: 116px;
    border: 1px solid #dee8f5;
    text-align: left;
    clear: both;
    float: none;
}

#header_menu li a {
    display: block;
    width: 116px;
    height: 20px;
    color: #e3ecf8;
    background-color: #3d6290;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
    line-height: 10px;
}

#header_menu li a span {
    display: block;
    padding-top: 4px;
    padding-left: 31px;
}

#header_menu li a:hover {
    color: #fff;
    background-color: #2e4a6c;
}

/* Left Sidebar */

#left_sidebar {
    width: 178px;
    float: left;
}

.box_container {
    margin-bottom: 11px;
    border: 1px solid #fff;
    background-color: #537caf;
}

/* Left Sidebar : User Login */

#userlogin {
    border: 1px solid #fff;
    margin-left: 222px;
    margin-top: 7px;
    width: 300px;
    height: 260px;
    color: #f1f5f9;
    font-weight: bold;
    text-align: left;
}

h2 {
    width: 200px;
    height: 15px;
    margin-left: 80px;
}

#userlogin .form_remember_me {
    margin-left: 120px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#userlogin .form_facebook {
    margin-left: 80px;
}

#userlogin form {
    padding-top: 5px;
}

#maincontent lb {
    text-align: center;
}

.form_field {
    padding-left: 1px;
    padding-top: 7px;
    width: 250px;
    float: none;
    clear: both;
    text-align: right;
}

#userlogin form strong {
    padding-top: 1px;
    display: block;
    width: 50px;
    height: 13px;
    float: left;
    text-align: left;
}

#userlogin form input {
    width: 93px;
    float: right;
}

#userlogin form input.button {
    padding: 0px;
    width: 80px;
    height: 15px;
    border: none;
    float: none;
}

#userlogin .form_button input {
    width: 120px;
    margin-left: 100px;
    margin-top: 15px;
    font-size: 11px;
}

#userlogin #link-password {
    padding-top: 5px;
    font-size: 10px;
    margin-left: 165px;
}

#userlogin select {
    width: 130px;
}

#userlogin #link-password a {
    color: #eef3f9;
}

#userlogin #link-password a:hover {
    color: #bfd8f6;
}

.form_exception {
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
    margin-left: 110px;
}

/* Left Sidebar : Latest News */

#studentQuestion h1 {
    padding-left: 20px;
}

#studentQuestion .main_box {
	display: table;
}

#studentQuestion .form_field strong {
	height: auto;
	width: 120px;
}

#studentQuestion #submit_button {
	padding-right: 80px;
}

/* Main Content */

#maincontent_container {
    border-top: 1px solid #d5dfec;
    border-left: 1px solid #d5dfec;
    float: right;
    text-align: left;
}

#maincontent {
    margin: 14px 0px 0px 206px;
    width: 561px;
    min-height: 300px;
}

#maincontent h2 {
    width: 300px;
    height: 28px;
}

#maincontent strong {
    padding-top: 1px;
    margin-left: 20px;
    display: block;
    width: 90px;
	min-height: 13px;
    float: left;
    text-align: left;
}

#form_roles {
    margin-left: 53px;
    margin-top: 15px;
}

#form_roles strong {
    width: 140px;
    padding-top: 3px;
    margin-left: 0px;
    float: unset;
}

#form_roles span {
    width: 140px;
    float: unset;
}

#maincontent form input {
    float: right;
    padding: 0px;
    width: 100px;
    height: 16px;
}

#submit_button input {
    margin-top: 15px;
    width: 100px;
    height: auto;
    font-size: 13px;
    margin-left: 60px;
    border: none;
    float: none;
}

#maincontent li {
    margin-bottom: 2px;
    width: 116px;
    border: 1px solid #dee8f5;
    text-align: left;
    clear: both;
    float: none;
}

#maincontent li a {
    display: block;
    width: 100px;
    height: 15px;
    color: #e3ecf8;
    background-color: #4775AE;
    text-decoration: none;
    font-weight: bold;
    overflow: hidden;
    line-height: 10px;
    text-align: left;
    padding-left: 15px;
    padding-top: 3px;
}

#maincontent .main_box {
    padding-top: 15px;
}

#maincontent li sp {
    border: none;
}

#maincontent li a:hover {
    color: #fff;
    background-color: #2e4a6c;
}

#maincontent_top {
    margin-bottom: 11px;
    width: 561px;
    background: url('/resources/images/maincontent_verticaldiv.gif') repeat-y 310px 5px;
}

/* How We Started */

#started_container {
    width: 313px;
    float: left;
}

#started {
    padding-top: 2px;
    width: 294px;
}

#started h2 {
    width: 96px;
    height: 14px;
    background: url('/resources/images/started_title.gif') no-repeat 0px 0px;
}

/* Repairing */

#right_container {
    width: 247px;
    float: left;
    text-align: left;
}

/* Page Footer */

#page_footer {
    margin: 5px;
    width: 535px;
    float: right;
    text-align: center;
    font-size: 12px;
}

.timer {
	font-size: large;
	padding-left: 50px;
	padding-bottom: 20px;
}

#studentTest li {
	width: 155px;
}

#studentTest {
    padding-left: 10%;
}

#studentTest li a{
	width: 140px;
	height: auto;
	min-height: 15px;
	padding-bottom: 2px;
}

#editTest h1 {
	padding-left: 25%;
}

#editTest .form_field {
	width: 450px;
}

#editTest .linkList li {
	width: 450px;
	border: none;
}

#editTest .linkList li a{
	text-decoration: underline;
	width: 436px;
}

#editTest .linkList {
	padding-top: 50px;
}

#editTest #testInfo input{
	width: 300px;
}
#editTest .field_buttons {
	padding-top: 5px;
	float: left;
}
#editTest .field_buttons input {
	height : 20px;
}

#editTest .left_button {
	padding-left: 5px;
	float: left;
}

#editTest .center_button {
	padding-left: 70px;
	float: left;
}

#editTest .right_button {
	padding-left: 70px;
	float: left;
}

#editTest .answer_fields {
	display: table;
	padding-top: 50px;
}

#editTest .answer_field {
	min-height: 30px;
	width: 500px;
}

#editTest .delLink {
	float: right;
	padding-right: 53px;
}

#editTest .check-box {
	float: left;
	padding-top: 3px;
}

#editTest .answerText {
	float: left;
}

#editTest .answerText input{
	width: 250px;
}

#editTest .question_field input {
	width: 335px;
	float: left;
}

.home {
    padding-left: 20%;
}

.home .main_box {
    padding-top: 20px;
}

.home .main_box li {
    margin-bottom: 20px;
}

#listUsers li {
    width: 155px;
}

#listUsers {
    padding-left: 10%;
}

#listUsers li a{
    width: 140px;
    height: auto;
    min-height: 15px;
    padding-bottom: 2px;
}